@media screen and (max-width:980px) {
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }
}
@media screen and (max-width:940px) {
    .team__lists{
        display: flex;
        flex-wrap: wrap;
    }
    .team__list{
        flex-basis: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width:560px) {
    .header__wrap{
        display: flex;
        flex-direction: column;
    }
}